<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Credentials{% endblock %}

{%block content_header%}  
{% if user.is_authenticated %}
<h1 class="h2">Credentials</h1>
<a class="btn btn-primary" href="{% url 'app:create_credential' %}" role="button">Add Credential</a>
{% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<div class="row ">
  <div class="col-12">
    <div class="card shadow-sm">
      <h5 class="card-header">Managed node login credentials</h5>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Credential</th>
                <th scope="col">Type</th>
                <th scope="col"></th>
                <!--
                <th scope="col">Rule</th>
                <th scope="col">Priority</th>
                <th scope="col">Incident Details</th>
                <th scope="col">Status</th>
                <th scope="col">Comments</th>
                -->
              </tr>
            </thead>
            <tbody>
              {% for credential in all_credentials %}
              <tr>
                <th scope="row"><a href="{% url 'app:update_credential' pk=credential.id %}">{{ credential.id}}_{{ credential.cred_name }}</a></td>
                <td>{{ credential.cred_type }}</td>
                <td><a class="btn btn-danger" href="{% url 'app:delete_credential' pk=credential.id %}" role="button">Delete</a></td>
              </tr>
              {% endfor %}
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
