<!-- templates/home.html -->
{% extends 'base.html' %}

<!-- for timezone-->
{% load tz %}

{% load static %}

{% block title %}Home{% endblock %}

{%block content_header%}  
{% if user.is_authenticated %}
<h1 class="h2">Dashboard</h1>
{% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}


      <!--first raw with single card-->
      
        <div class="card shadow-sm">
          <h5 class="card-header">Incidents</h5>
          <div class="card-body">
            <div id="chart_incidents"></div>
            <p class="card-text">Last  {{ dashboard_data.incident_duration }} Days</p>
          </div>
        </div>
    
      <!--end of first raw with single card-->

      <!-- row with 2 cards-->
      <!--
      <div class="row my-4">
        <div class="row"> 
          <div class="col-12 col-sm-6 col-md-6 mb-4 mb-lg-0">
            <div class="card shadow-sm">
              <h5 class="card-header">Incidents</h5>
              {{ dashboard_data.incident_list_graph_items_fixed }}
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 mb-4 mb-lg-0">
            <div class="card shadow-sm">
              <h5 class="card-header">Status</h5>
              <div class="card-body">
                  
              </div>
          </div> 
       </div> 
      </div>
      -->
      <!-- end of row with 2 cards-->

      <!-- raw with 4 card-->
      <div class="row my-4">
        <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
            <div class="card shadow-sm">
                <h5 class="card-header">Incidents</h5>
                <div class="card-body">
                  <h1 class="card-title">{{ dashboard_data.all_incidents_count }}</h5>
                  <!--<p class="card-text">Feb 1 - Apr 1, United States</p>
                  <p class="card-text text-success">18.2% increase since last month</p>-->
                </div>
              </div>
        </div>
        <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
            <div class="card shadow-sm">
                <h5 class="card-header">Managed Nodes</h5>
                <div class="card-body">
                  <h1 class="card-title">{{ dashboard_data.all_managednodes_count }}</h5>
                  <!--<p class="card-text">Feb 1 - Apr 1, United States</p>
                  <p class="card-text text-success">4.6% increase since last month</p>-->
                </div>
              </div>
        </div>
        <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
            <div class="card shadow-sm">
                <h5 class="card-header">Credentials</h5>
                <div class="card-body">
                  <h1 class="card-title">{{ dashboard_data.all_credentials_count }}</h5>
                    <!--<p class="card-text">Feb 1 - Apr 1, United States</p>
                    <p class="card-text text-success">4.6% increase since last month</p>-->
                </div>
              </div>
        </div>
        <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
            <div class="card shadow-sm">
                <h5 class="card-header">Rules</h5>
                <div class="card-body">
                  <h1 class="card-title">{{ dashboard_data.all_rules_count }}</h5>
                    <!--<p class="card-text">Feb 1 - Apr 1, United States</p>
                    <p class="card-text text-success">4.6% increase since last month</p>-->
                </div>
              </div>
        </div>
      </div>
      <!--end of raw with 4 cards-->

      <!-- row with 3 cards-->
      <!--
      <div class="row my-3">

        <div class="col-sm-6 col-md-4">
          <div class="card border-white">
            <div class="card-header">Heading 1</div>
            <div class="card-body">
              <p class="card-text">Some quick example text to build
                on the card
                title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      
      
        <div class="col-sm-6 col-md-4">
          <div class="card border-white">
            <div class="card-header">Heading 2</div>
            <div class="card-body">
              <p class="card-text">Some quick example text to build
                on the card
                title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      
      
        <div class="col-sm-6 col-md-4">
          <div class="card border-white">
            <div class="card-header">Heading 3</div>
            <div class="card-body">
              <p class="card-text">Some quick example text to build
                on the card
                title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      
      </div>
      -->
      <!-- end of row with 3 cards-->

      <!--raw with 2 card 65:35-->
      <!-- some more widget-->
      <div class="row">
        <div class="col-12 col-xl-8 mb-4 mb-lg-0">
            <div class="card shadow-sm">
                <h5 class="card-header">Latest Incidents</h5>
                <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Incident Time</th>
                            <th scope="col">Hostname</th>
                            <th scope="col">Rule</th>
                            <th scope="col">Priority</th>
                            <th scope="col">Status</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for incident in dashboard_data.latest_incidents %}
                          <tr>
                            <td>
                              {% timezone "Asia/Singapore" %}
                              {{ incident.incident_time }}
                              {% endtimezone %}
                            </td>
                            <td>{{ incident.incident_hostname }}</td>
                            <td>{{ incident.incident_rule }}</td>
                            <td>{{ incident.incident_priority }}</td>                            
                            <td>{{ incident.incident_status }}</td>
                          </tr>
                          {% endfor %}
                          
                        </tbody>
                      </table>
                        
                    </div>
                      <a href="{% url 'app:incident_view' %}" class="btn btn-primary">View all</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-4">
          <div class="card shadow-sm">
            <h5 class="card-header">Incident Status</h5>
            <div class="card-body">
              <div id="chart_incidents_status"></div>
              <p class="card-text">Last  {{ dashboard_data.incident_duration }} Days</p>
            </div>
          </div>
        </div>
      </div>
      <!--end of raw with 2 card 65:35-->

    
    <script>
    new Chartist.Line('#chart_incidents', {
      labels: {{ dashboard_data.incident_list_graph_label | safe }},
      series: [
        {{ dashboard_data.incident_list_graph_items_1 | safe }},
        //{{ dashboard_data.incident_list_graph_items_fixed | safe }},
      ]
    }, {
      fullWidth: true,
      chartPadding: {
        right: 40
      }
    });

    //incident fix vs pending
    new Chartist.Pie('#chart_incidents_status', {
      labels: {{ dashboard_data.incident_status_graph_label | safe }},
      series: {{ dashboard_data.incident_status_graph_item | safe }},
    }, {
      donut: true,
      donutWidth: 50,
      donutSolid: false,
      startAngle: 0,
      showLabel: true,
      labelOffset: 40,
      labelDirection: 'explode',
    });
    
  </script>

{% endif %}
{% endblock %}
