<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Managed Nodes{% endblock %}


{%block content_header%}
{% if user.is_authenticated %}
<h1 class="h2">Managed Nodes</h1>
<a class="btn btn-primary" href="{% url 'app:create_node' %}" role="button">Add Node</a>
{% endif %}
        {% endblock %}

      {% block content %}
      {% if user.is_authenticated %}
      <div class="row ">
        <div class="col-12">
          <div class="card shadow-sm">
            <h5 class="card-header">Managed nodes</h5>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover"">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Connection Name</th>
                      <th scope="col">Credential</th>
                      <th scope="col">Added on</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for node in all_managed_nodes %}
                    <tr>
                      <th scope="row"><a href="{% url 'app:update_node' pk=node.id %}">{{ node.instance_name }}</a></td>
                      <td>{{ node.instance_name_connection }}</td>
                      <td>{{ node.instance_credential }}</td>
                      <td>{{ node.date_time }}</td>
                      <td><a class="btn btn-danger" href="{% url 'app:delete_node' pk=node.id %}" role="button">Delete</a></td>
                    </tr>
                    {% endfor %}
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

    {% endif %}
    {% endblock %}



